openapi: 3.0.3
info:
  title: MemoryNode API
  version: 1.0.0
  description: MemoryNode — reliable per-user memory for customer-facing AI (support bots, SMB chat, SaaS copilots).
    Store, search, and prompt-ready context over HTTPS; hybrid retrieval is server-managed. This spec is auto-generated
    from Zod schemas in apps/api/src/contracts/ and documents the stable public REST surface.
servers:
  - url: https://api.memorynode.ai
    description: Production
  - url: http://127.0.0.1:8787
    description: Local development
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Worker API key. Pass via "Authorization: Bearer <key>" or "x-api-key" header.'
    AdminToken:
      type: apiKey
      in: header
      name: x-admin-token
      description: Master admin token for control-plane endpoints.
  schemas:
    MemoryInsertResponse:
      type: object
      properties:
        memory_id:
          type: string
          example: mem_abc123
        stored:
          type: boolean
          enum:
            - true
          description: Always true on HTTP 200 — your memory row was persisted.
        chunks:
          type: integer
          description: Number of search-indexed chunks created for this write. Omitted when embedding was skipped (e.g. budget
            text-only ingest); use `stored` + `embedding` instead.
          example: 3
        embedding:
          type: string
          enum:
            - skipped_due_to_budget
          description: Present when the memory row was saved but vector embedding was skipped (e.g. workspace AI budget). Search
            may not return this text until re-embedded.
        extraction:
          type: object
          properties:
            status:
              type: string
              enum:
                - run
                - degraded
                - skipped
            reason:
              type: string
              enum:
                - user_disabled
                - low_importance
                - plan_limit
                - entitlement_degraded
                - budget_limit
                - extraction_error
                - none
              description: Only present when status is skipped (or extraction_error details).
            error:
              type: string
          required:
            - status
          description: What happened with automatic fact extraction for this write.
        safety:
          type: object
          properties:
            pii_hints:
              type: array
              items:
                type: string
                enum:
                  - email
                  - phone
          required:
            - pii_hints
          description: 'Present when request included header x-safety-pii-scan: "1" and hints were found.'
      required:
        - memory_id
        - stored
        - extraction
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: BAD_REQUEST
            message:
              type: string
              example: Validation failed
            details:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
              example:
                text:
                  - Required
          required:
            - code
            - message
        request_id:
          type: string
          example: req_abc123
      required:
        - error
        - request_id
    MemoryInsertPayload:
      type: object
      properties:
        user_id:
          type: string
          minLength: 1
          example: user_42
        namespace:
          type: string
          example: default
        text:
          type: string
          minLength: 1
          maxLength: 50000
          example: Meeting notes from standup...
        metadata:
          type: object
          additionalProperties:
            anyOf:
              - type: string
              - type: number
              - type: boolean
              - nullable: true
              - nullable: true
          example:
            project: alpha
            priority: 1
        memory_type:
          type: string
          enum: &a1
            - fact
            - preference
            - event
            - note
            - task
          description: "Optional memory type tag: fact, preference, event, note, or task."
        importance:
          type: number
          minimum: 0.01
          maximum: 100
          description: Optional ranking multiplier. Higher values increase retrieval likelihood.
        chunk_profile:
          type: string
          enum:
            - balanced
            - dense
            - document
          description: Chunking preset for long text before embedding.
        extract:
          type: boolean
          default: true
          description: When true (default), may run lightweight LLM extraction to child memories when plan and budget allow. Set
            false to store only the parent memory.
      required:
        - user_id
        - text
    SearchResultItem:
      type: object
      properties:
        chunk_id:
          type: string
        memory_id:
          type: string
        chunk_index:
          type: integer
        text:
          type: string
        score:
          type: number
        _explain:
          type: object
          properties:
            rrf_score:
              type: number
            match_sources:
              type: array
              items:
                type: string
                enum:
                  - vector
                  - text
            vector_score:
              type: number
            text_score:
              type: number
          required:
            - rrf_score
            - match_sources
      required:
        - chunk_id
        - memory_id
        - chunk_index
        - text
        - score
    SearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/SearchResultItem"
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer
        has_more:
          type: boolean
        retrieval_trace:
          type: object
          additionalProperties:
            nullable: true
      required:
        - results
        - page
        - total
        - has_more
    SearchPayload:
      type: object
      properties:
        user_id:
          type: string
          minLength: 1
          example: user_42
        namespace:
          type: string
          example: default
        query:
          type: string
          minLength: 1
          maxLength: 2000
          example: project status update
        top_k:
          type: integer
          minimum: 1
          maximum: 20
          example: 8
        page:
          type: integer
          minimum: 1
          example: 1
        page_size:
          type: integer
          minimum: 1
          maximum: 50
          example: 10
        filters:
          type: object
          properties:
            metadata:
              type: object
              additionalProperties:
                anyOf:
                  - type: string
                  - type: number
                  - type: boolean
                  - nullable: true
                  - nullable: true
            start_time:
              type: string
              example: 2025-01-01T00:00:00Z
            end_time:
              type: string
              example: 2025-12-31T23:59:59Z
            memory_type:
              anyOf:
                - type: string
                  enum: *a1
                - type: array
                  items:
                    type: string
                    enum: *a1
                  minItems: 1
              description: Single memory type or array (OR semantics).
            filter_mode:
              type: string
              enum:
                - and
                - or
              description: Metadata match mode (default and).
        explain:
          type: boolean
        search_mode:
          type: string
          enum:
            - hybrid
            - vector
            - keyword
        min_score:
          type: number
          minimum: 0
          maximum: 1
        retrieval_profile:
          type: string
          enum:
            - balanced
            - recall
            - precision
      required:
        - user_id
        - query
    ContextResponse:
      type: object
      properties:
        context_text:
          type: string
        citations:
          type: array
          items:
            type: object
            properties:
              i:
                type: integer
              chunk_id:
                type: string
              memory_id:
                type: string
              chunk_index:
                type: integer
            required:
              - i
              - chunk_id
              - memory_id
              - chunk_index
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer
        has_more:
          type: boolean
        context_blocks:
          type: integer
      required:
        - context_text
        - citations
        - page
        - total
        - has_more
    ContextExplainResponse:
      type: object
      properties:
        query:
          type: object
          properties:
            user_id:
              type: string
            namespace:
              type: string
              nullable: true
            query:
              type: string
            top_k:
              type: number
              nullable: true
            search_mode:
              type: string
              enum:
                - hybrid
                - vector
                - keyword
            min_score:
              type: number
              nullable: true
            retrieval_profile:
              type: string
              nullable: true
              enum:
                - balanced
                - recall
                - precision
          required:
            - user_id
            - namespace
            - query
            - top_k
            - search_mode
            - min_score
            - retrieval_profile
        memories_retrieved:
          type: array
          items:
            type: object
            properties:
              memory_id:
                type: string
              text:
                type: string
            required:
              - memory_id
              - text
        chunk_ids_used:
          type: array
          items:
            type: string
        results:
          type: array
          items:
            type: object
            properties:
              rank:
                type: integer
              memory_id:
                type: string
              chunk_id:
                type: string
              chunk_index:
                type: integer
              text:
                type: string
              scores:
                type: object
                properties:
                  relevance_score:
                    type: number
                  recency_score:
                    type: number
                  importance_score:
                    type: number
                  final_score:
                    type: number
                required:
                  - relevance_score
                  - recency_score
                  - importance_score
                  - final_score
              ordering_explanation:
                type: string
            required:
              - rank
              - memory_id
              - chunk_id
              - chunk_index
              - text
              - scores
              - ordering_explanation
        total:
          type: integer
        page:
          type: integer
        page_size:
          type: integer
        has_more:
          type: boolean
      required:
        - query
        - memories_retrieved
        - chunk_ids_used
        - results
        - total
        - page
        - page_size
        - has_more
    UsageCapAlert:
      type: object
      properties:
        resource:
          type: string
          enum:
            - writes
            - reads
            - embeds
            - embed_tokens
            - extraction_calls
            - gen_tokens
            - storage
        severity:
          type: string
          enum:
            - warning
            - critical
        used:
          type: number
        cap:
          type: number
        ratio:
          type: number
      required:
        - resource
        - severity
        - used
        - cap
        - ratio
    UsageResponse:
      type: object
      properties:
        day:
          type: string
          example: 2026-04-18
        plan:
          type: string
          example: launch
        writes:
          type: integer
        reads:
          type: integer
        embeds:
          type: integer
        limits:
          type: object
          properties:
            writes:
              type: integer
            reads:
              type: integer
            embeds:
              type: integer
          required:
            - writes
            - reads
            - embeds
        caps:
          type: object
          properties:
            writes:
              type: integer
            reads:
              type: integer
            embeds:
              type: integer
          required:
            - writes
            - reads
            - embeds
          description: Legacy alias; prefer limits.
          deprecated: true
        cap_alerts:
          type: array
          items:
            $ref: "#/components/schemas/UsageCapAlert"
        operational_mode:
          type: string
          enum:
            - normal
            - degraded
            - sleep
        grace_soft_downgrade:
          type: boolean
          description: "True when entitlement is in billing grace: daily limits floored toward Launch while plan reflects the paid
            tier."
      required:
        - plan
        - writes
        - reads
        - embeds
    AuditLogEntry:
      type: object
      properties:
        id:
          type: string
        route:
          type: string
        method:
          type: string
        status:
          type: integer
        bytes_in:
          type: integer
        bytes_out:
          type: integer
        latency_ms:
          type: integer
        ip_hash:
          type: string
        api_key_id:
          type: string
          nullable: true
        created_at:
          type: string
      required:
        - id
        - route
        - method
        - status
        - bytes_in
        - bytes_out
        - latency_ms
        - ip_hash
        - api_key_id
        - created_at
    AuditLogListResponse:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: "#/components/schemas/AuditLogEntry"
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
        has_more:
          type: boolean
      required:
        - entries
        - page
        - limit
        - has_more
    DashboardOverviewResponse:
      type: object
      properties:
        range:
          type: string
          enum:
            - 1d
            - 7d
            - 30d
            - all
        documents:
          type: integer
        memories:
          type: integer
        search_requests:
          type: integer
        container_tags:
          type: integer
      required:
        - range
        - documents
        - memories
        - search_requests
        - container_tags
    ImportResponse:
      type: object
      properties:
        imported_memories:
          type: integer
          example: 42
        imported_chunks:
          type: integer
          example: 126
      required:
        - imported_memories
        - imported_chunks
    ImportMode:
      type: string
      enum:
        - upsert
        - skip_existing
        - error_on_conflict
        - replace_ids
        - replace_all
    ImportPayload:
      type: object
      properties:
        artifact_base64:
          type: string
          minLength: 1
          example: eyJ2ZXJzaW9uIjoxLC4uLn0=
        mode:
          $ref: "#/components/schemas/ImportMode"
      required:
        - artifact_base64
    BillingStatusResponse:
      type: object
      properties:
        plan:
          type: string
          description: Legacy internal DB plan label (pro/team) for compatibility. Use effective_plan for display and quotas.
          example: pro
        plan_status:
          type: string
          example: active
        current_period_end:
          type: string
          nullable: true
          example: null
        cancel_at_period_end:
          type: boolean
          example: false
        effective_plan:
          type: string
          description: "Plan code for display: launch|build|deploy|scale|scale_plus."
          example: build
      required:
        - plan
        - plan_status
        - current_period_end
        - cancel_at_period_end
        - effective_plan
    BillingCheckoutPayload:
      type: object
      properties:
        plan:
          type: string
          enum:
            - launch
            - build
            - deploy
            - scale
            - scale_plus
          example: build
    CreateWorkspacePayload:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: My Workspace
      required:
        - name
    CreateApiKeyPayload:
      type: object
      properties:
        workspace_id:
          type: string
          minLength: 1
          example: ws_abc123
        name:
          type: string
          minLength: 1
          example: production
      required:
        - workspace_id
        - name
    RevokeApiKeyPayload:
      type: object
      properties:
        api_key_id:
          type: string
          minLength: 1
          example: key_abc123
      required:
        - api_key_id
  parameters: {}
paths:
  /healthz:
    get:
      summary: Health check
      tags:
        - Health
      responses:
        "200":
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                  version:
                    type: string
                  build_version:
                    type: string
                  stage:
                    type: string
                  git_sha:
                    type: string
                required:
                  - status
                  - version
  /v1/health:
    get:
      summary: Health check (versioned)
      description: Returns service health and version. Same response as /healthz. No auth required. Prefer this for API
        clients that version endpoints.
      tags:
        - Health
      responses:
        "200":
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                  version:
                    type: string
                  build_version:
                    type: string
                  stage:
                    type: string
                  git_sha:
                    type: string
                  embedding_model:
                    type: string
                required:
                  - status
                  - version
  /ready:
    get:
      summary: Readiness check
      description: Checks DB connectivity. Returns 200 when DB is reachable, 503 otherwise. No auth required. Use for load
        balancer or platform health checks.
      tags:
        - Health
      responses:
        "200":
          description: Ready to serve traffic
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                  db:
                    type: string
                    enum:
                      - connected
                required:
                  - status
                  - db
        "503":
          description: Not ready (e.g. DB unavailable)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - degraded
                  db:
                    type: string
                    enum:
                      - unavailable
                  message:
                    type: string
                required:
                  - status
                  - db
  /v1/memories:
    post:
      summary: Ingest a memory
      tags:
        - Memories
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
            enum:
              - "1"
            description: When set to "1", response may include safety.pii_hints (heuristic email/phone hints only; not a DLP scan).
          required: false
          name: x-safety-pii-scan
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MemoryInsertPayload"
      responses:
        "200":
          description: Memory ingested
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryInsertResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: List memories with pagination and filters
      tags:
        - Memories
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
          required: false
          name: user_id
          in: query
        - schema:
            type: string
          required: false
          name: namespace
          in: query
        - schema:
            type: integer
            minimum: 1
          required: false
          name: page
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
          required: false
          name: page_size
          in: query
        - schema:
            type: string
            description: JSON-encoded metadata filter
          required: false
          name: metadata
          in: query
        - schema:
            type: string
          required: false
          name: start_time
          in: query
        - schema:
            type: string
          required: false
          name: end_time
          in: query
      responses:
        "200":
          description: Paginated list of memories
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/memories/{id}:
    get:
      summary: Fetch a single memory by ID
      tags:
        - Memories
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
      responses:
        "200":
          description: Memory object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Memory not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete a memory
      tags:
        - Memories
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
      responses:
        "200":
          description: Memory deleted
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Memory not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/search:
    post:
      summary: Hybrid search (vector + full-text + RRF)
      tags:
        - Retrieval
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchPayload"
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/context:
    post:
      summary: Prompt-ready context with citations
      tags:
        - Retrieval
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchPayload"
      responses:
        "200":
          description: Context text and citations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContextResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/context/explain:
    get:
      summary: Explain retrieval and ranking for a context query
      tags:
        - Retrieval
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
            minLength: 1
          required: true
          name: user_id
          in: query
        - schema:
            type: string
            minLength: 1
          required: true
          name: query
          in: query
        - schema:
            type: string
          required: false
          name: namespace
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 20
          required: false
          name: top_k
          in: query
        - schema:
            type: integer
            minimum: 1
          required: false
          name: page
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 50
          required: false
          name: page_size
          in: query
        - schema:
            type: string
            enum:
              - hybrid
              - vector
              - keyword
          required: false
          name: search_mode
          in: query
        - schema:
            type: number
            nullable: true
            minimum: 0
            maximum: 1
          required: false
          name: min_score
          in: query
        - schema:
            type: string
            enum:
              - balanced
              - recall
              - precision
          required: false
          name: retrieval_profile
          in: query
      responses:
        "200":
          description: Retrieval/ranking explanation payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContextExplainResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/usage/today:
    get:
      summary: Usage counters and effective plan caps for today
      tags:
        - Usage
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Current usage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/audit/log:
    get:
      summary: Tenant-scoped API request audit trail (paginated)
      tags:
        - Usage
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 1
            example: 1
          required: false
          name: page
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 200
            example: 50
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Audit log page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditLogListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: Upgrade required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/dashboard/overview-stats:
    get:
      summary: "Console overview aggregates for the authenticated workspace. Optional query: range=1d|7d|30d|all (default all)."
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Aggregate counts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardOverviewResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/import:
    post:
      summary: Import memories from artifact (paid plans)
      tags:
        - Import
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImportPayload"
      responses:
        "200":
          description: Import result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImportResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: Upgrade required for import
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/connectors/settings:
    get:
      summary: List connector capture settings for workspace
      tags:
        - Connectors
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Connector settings list
          content:
            application/json:
              schema:
                type: object
                properties:
                  settings:
                    type: array
                    items:
                      type: object
                      additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Update connector capture settings for workspace
      tags:
        - Connectors
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Updated connector setting
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/billing/status:
    get:
      summary: Current billing status and plan
      tags:
        - Billing
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Billing status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingStatusResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/billing/checkout:
    post:
      summary: Create PayU checkout session
      tags:
        - Billing
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingCheckoutPayload"
      responses:
        "200":
          description: Checkout URL or form fields
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/billing/portal:
    post:
      summary: Legacy billing portal (returns 410 Gone)
      tags:
        - Billing
      security:
        - BearerAuth: []
      responses:
        "410":
          description: Gone – legacy Stripe portal removed
  /v1/billing/webhook:
    post:
      summary: PayU webhook callback
      tags:
        - Billing
      responses:
        "200":
          description: Webhook processed
        "400":
          description: Invalid webhook payload or signature
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/workspaces:
    post:
      summary: Create a workspace (admin only)
      tags:
        - Admin
      security:
        - AdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkspacePayload"
      responses:
        "200":
          description: Workspace created
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/api-keys:
    post:
      summary: Create an API key for a workspace (admin only)
      tags:
        - Admin
      security:
        - AdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyPayload"
      responses:
        "200":
          description: API key created
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: List masked API keys for a workspace (admin only)
      tags:
        - Admin
      security:
        - AdminToken: []
      parameters:
        - schema:
            type: string
            example: ws_abc123
          required: true
          name: workspace_id
          in: query
      responses:
        "200":
          description: List of masked API keys
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/api-keys/revoke:
    post:
      summary: Revoke an API key (admin only)
      tags:
        - Admin
      security:
        - AdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeApiKeyPayload"
      responses:
        "200":
          description: API key revoked
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
