# -----------------------------------------------------------------------------
# Source of Truth (OpenAPI artifact)
#
# This file MUST reflect actual HTTP behavior. Regenerate with: pnpm openapi:gen
# If apps/api/src/router.ts, apps/api/src/contracts/, or packages/sdk/src/ change
# API behavior → update apps/api/scripts/generate_openapi.mjs and/or docs, then
# commit the regenerated openapi.yaml in the SAME PR (see scripts/check_docs_drift.mjs).
# -----------------------------------------------------------------------------

openapi: 3.0.3
info:
  title: MemoryNode API
  version: 1.0.0
  description: >-
    MemoryNode — reliable per-user memory for customer-facing AI (support bots, SMB chat, SaaS copilots). Store, search,
    and prompt-ready context over HTTPS; hybrid retrieval is server-managed.


    This file is produced by `pnpm openapi:gen` from `apps/api/scripts/generate_openapi.mjs` (schemas aligned with
    `apps/api/src/contracts/`).


    **Also implemented in the Worker but omitted or summarized here:** `/healthz`, `/ready`, `/mcp`, PayU
    `/v1/billing/webhook`, admin cron endpoints (`/admin/*`), read-only `/v1/admin/*`, and `/v1/admin/founder/phase1`.
    Dashboard routes use the browser session cookie in production; OpenAPI lists `BearerAuth` for generator consistency.
    See `apps/api/src/router.ts` and `workerApp.ts`.
  x-doc-governance: "SOURCE_OF_TRUTH: Regenerate via `pnpm openapi:gen` when `apps/api/scripts/generate_openapi.mjs`,
    `apps/api/src/contracts/`, or `apps/api/src/router.ts` change. Same PR as behavioral API changes. Human prose:
    `docs/external/API_USAGE.md`."
servers:
  - url: https://api.memorynode.ai
    description: Production
  - url: http://127.0.0.1:8787
    description: Local development
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Worker API key. Pass via "Authorization: Bearer <key>" or "x-api-key" header.'
    AdminToken:
      type: apiKey
      in: header
      name: x-admin-token
      description: Master admin token for control-plane endpoints.
  schemas:
    MemoryInsertResponse:
      type: object
      properties:
        memory_id:
          type: string
          example: mem_abc123
        stored:
          type: boolean
          enum:
            - true
          description: Always true on HTTP 200 — your memory row was persisted.
        chunks:
          type: integer
          description: Number of search-indexed chunks created for this write. Omitted when embedding was skipped (e.g. budget
            text-only ingest); use `stored` + `embedding` instead.
          example: 3
        embedding:
          type: string
          enum:
            - skipped_due_to_budget
          description: Present when the memory row was saved but vector embedding was skipped (e.g. workspace AI budget). Search
            may not return this text until re-embedded.
        extraction:
          type: object
          properties:
            status:
              type: string
              enum:
                - run
                - degraded
                - skipped
            reason:
              type: string
              enum:
                - user_disabled
                - low_importance
                - plan_limit
                - entitlement_degraded
                - budget_limit
                - extraction_error
                - none
              description: Only present when status is skipped (or extraction_error details).
            error:
              type: string
          required:
            - status
          description: What happened with automatic fact extraction for this write.
        safety:
          type: object
          properties:
            pii_hints:
              type: array
              items:
                type: string
                enum:
                  - email
                  - phone
          required:
            - pii_hints
          description: 'Present when request included header x-safety-pii-scan: "1" and hints were found.'
      required:
        - memory_id
        - stored
        - extraction
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: BAD_REQUEST
            message:
              type: string
              example: Validation failed
            details:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
              example:
                text:
                  - Required
          required:
            - code
            - message
        request_id:
          type: string
          example: req_abc123
      required:
        - error
        - request_id
    MemoryInsertPayload:
      type: object
      properties:
        userId:
          type: string
          minLength: 1
          example: user_42
        user_id:
          type: string
          minLength: 1
          example: user_42
        owner_id:
          type: string
          minLength: 1
        owner_type:
          type: string
          enum:
            - user
            - team
            - app
        entity_id:
          type: string
          minLength: 1
        entity_type:
          type: string
          enum:
            - user
            - team
            - app
        scope:
          type: string
        namespace:
          type: string
          example: default
        containerTag:
          type: string
        text:
          type: string
          minLength: 1
          maxLength: 50000
          example: Meeting notes from standup...
        metadata:
          type: object
          additionalProperties:
            anyOf:
              - type: string
              - type: number
              - type: boolean
              - nullable: true
              - nullable: true
          example:
            project: alpha
            priority: 1
        memory_type:
          type: string
          enum: &a1
            - fact
            - preference
            - event
            - note
            - task
            - correction
            - pin
          description: Optional memory type tag (see MEMORY_TYPES in apps/api/src/contracts/search.ts).
        importance:
          type: number
          minimum: 0.01
          maximum: 100
          description: Optional ranking multiplier. Higher values increase retrieval likelihood.
        chunk_profile:
          type: string
          enum:
            - balanced
            - dense
            - document
          description: Chunking preset for long text before embedding.
        extract:
          type: boolean
          default: true
          description: When true (default), may run lightweight LLM extraction to child memories when plan and budget allow. Set
            false to store only the parent memory.
        effective_at:
          type: string
        replaces_memory_id:
          type: string
          format: uuid
        idempotency_key:
          type: string
          minLength: 8
          maxLength: 128
      required:
        - text
    SearchResultItem:
      type: object
      properties:
        chunk_id:
          type: string
        memory_id:
          type: string
        chunk_index:
          type: integer
        text:
          type: string
        score:
          type: number
        _explain:
          type: object
          properties:
            rrf_score:
              type: number
            match_sources:
              type: array
              items:
                type: string
                enum:
                  - vector
                  - text
            vector_score:
              type: number
            text_score:
              type: number
          required:
            - rrf_score
            - match_sources
      required:
        - chunk_id
        - memory_id
        - chunk_index
        - text
        - score
    SearchResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/SearchResultItem"
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer
        has_more:
          type: boolean
        retrieval_trace:
          type: object
          additionalProperties:
            nullable: true
      required:
        - results
        - page
        - total
        - has_more
    SearchPayload:
      type: object
      properties:
        userId:
          type: string
          minLength: 1
        user_id:
          type: string
          minLength: 1
          example: user_42
        owner_id:
          type: string
          minLength: 1
        owner_type:
          type: string
          enum:
            - user
            - team
            - app
        entity_id:
          type: string
          minLength: 1
        entity_type:
          type: string
          enum:
            - user
            - team
            - app
        scope:
          type: string
        namespace:
          type: string
          example: default
        containerTag:
          type: string
        query:
          type: string
          minLength: 1
          maxLength: 2000
          example: project status update
        top_k:
          type: integer
          minimum: 1
          maximum: 20
          example: 8
        page:
          type: integer
          minimum: 1
          example: 1
        page_size:
          type: integer
          minimum: 1
          maximum: 50
          example: 10
        filters:
          type: object
          properties:
            metadata:
              type: object
              additionalProperties:
                anyOf:
                  - type: string
                  - type: number
                  - type: boolean
                  - nullable: true
                  - nullable: true
            start_time:
              type: string
              example: 2025-01-01T00:00:00Z
            end_time:
              type: string
              example: 2025-12-31T23:59:59Z
            memory_type:
              anyOf:
                - type: string
                  enum: *a1
                - type: array
                  items:
                    type: string
                    enum: *a1
                  minItems: 1
              description: Single memory type or array (OR semantics).
            filter_mode:
              type: string
              enum:
                - and
                - or
              description: Metadata match mode (default and).
        explain:
          type: boolean
        search_mode:
          type: string
          enum:
            - hybrid
            - vector
            - keyword
        min_score:
          type: number
          minimum: 0
          maximum: 1
        retrieval_profile:
          type: string
          enum:
            - balanced
            - recall
            - precision
      required:
        - query
    ContextResponse:
      type: object
      properties:
        context_text:
          type: string
        citations:
          type: array
          items:
            type: object
            properties:
              i:
                type: integer
              chunk_id:
                type: string
              memory_id:
                type: string
              chunk_index:
                type: integer
            required:
              - i
              - chunk_id
              - memory_id
              - chunk_index
        page:
          type: integer
        page_size:
          type: integer
        total:
          type: integer
        has_more:
          type: boolean
        context_blocks:
          type: integer
      required:
        - context_text
        - citations
        - page
        - total
        - has_more
    ContextExplainResponse:
      type: object
      properties:
        query:
          type: object
          properties:
            user_id:
              type: string
            namespace:
              type: string
              nullable: true
            query:
              type: string
            top_k:
              type: number
              nullable: true
            search_mode:
              type: string
              enum:
                - hybrid
                - vector
                - keyword
            min_score:
              type: number
              nullable: true
            retrieval_profile:
              type: string
              nullable: true
              enum:
                - balanced
                - recall
                - precision
          required:
            - user_id
            - namespace
            - query
            - top_k
            - search_mode
            - min_score
            - retrieval_profile
        memories_retrieved:
          type: array
          items:
            type: object
            properties:
              memory_id:
                type: string
              text:
                type: string
            required:
              - memory_id
              - text
        chunk_ids_used:
          type: array
          items:
            type: string
        results:
          type: array
          items:
            type: object
            properties:
              rank:
                type: integer
              memory_id:
                type: string
              chunk_id:
                type: string
              chunk_index:
                type: integer
              text:
                type: string
              scores:
                type: object
                properties:
                  relevance_score:
                    type: number
                  recency_score:
                    type: number
                  importance_score:
                    type: number
                  final_score:
                    type: number
                required:
                  - relevance_score
                  - recency_score
                  - importance_score
                  - final_score
              ordering_explanation:
                type: string
            required:
              - rank
              - memory_id
              - chunk_id
              - chunk_index
              - text
              - scores
              - ordering_explanation
        total:
          type: integer
        page:
          type: integer
        page_size:
          type: integer
        has_more:
          type: boolean
      required:
        - query
        - memories_retrieved
        - chunk_ids_used
        - results
        - total
        - page
        - page_size
        - has_more
    UsageCapAlert:
      type: object
      properties:
        resource:
          type: string
          enum:
            - writes
            - reads
            - embeds
            - embed_tokens
            - extraction_calls
            - gen_tokens
            - storage
        severity:
          type: string
          enum:
            - warning
            - critical
        used:
          type: number
        cap:
          type: number
        ratio:
          type: number
      required:
        - resource
        - severity
        - used
        - cap
        - ratio
    UsageResponse:
      type: object
      properties:
        day:
          type: string
          example: 2026-04-18
        plan:
          type: string
          example: launch
        writes:
          type: integer
        reads:
          type: integer
        embeds:
          type: integer
        limits:
          type: object
          properties:
            writes:
              type: integer
            reads:
              type: integer
            embeds:
              type: integer
          required:
            - writes
            - reads
            - embeds
        caps:
          type: object
          properties:
            writes:
              type: integer
            reads:
              type: integer
            embeds:
              type: integer
          required:
            - writes
            - reads
            - embeds
          description: Legacy alias; prefer limits.
          deprecated: true
        cap_alerts:
          type: array
          items:
            $ref: "#/components/schemas/UsageCapAlert"
        operational_mode:
          type: string
          enum:
            - normal
            - degraded
            - sleep
        grace_soft_downgrade:
          type: boolean
          description: "True when entitlement is in billing grace: daily limits floored toward Launch while plan reflects the paid
            tier."
      required:
        - plan
        - writes
        - reads
        - embeds
    AuditLogEntry:
      type: object
      properties:
        id:
          type: string
        route:
          type: string
        method:
          type: string
        status:
          type: integer
        bytes_in:
          type: integer
        bytes_out:
          type: integer
        latency_ms:
          type: integer
        ip_hash:
          type: string
        api_key_id:
          type: string
          nullable: true
        created_at:
          type: string
      required:
        - id
        - route
        - method
        - status
        - bytes_in
        - bytes_out
        - latency_ms
        - ip_hash
        - api_key_id
        - created_at
    AuditLogListResponse:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: "#/components/schemas/AuditLogEntry"
        page:
          type: integer
          minimum: 1
        limit:
          type: integer
          minimum: 1
        has_more:
          type: boolean
      required:
        - entries
        - page
        - limit
        - has_more
    DashboardOverviewResponse:
      type: object
      properties:
        range:
          type: string
          enum:
            - 1d
            - 7d
            - 30d
            - all
        documents:
          type: integer
        memories:
          type: integer
        search_requests:
          type: integer
        container_tags:
          type: integer
      required:
        - range
        - documents
        - memories
        - search_requests
        - container_tags
    DashboardOpsEnvelope:
      type: object
      properties:
        ok:
          type: boolean
      required:
        - ok
    ConnectorCaptureTypes:
      type: object
      properties:
        pdf:
          type: boolean
        docx:
          type: boolean
        txt:
          type: boolean
        md:
          type: boolean
        html:
          type: boolean
        csv:
          type: boolean
        tsv:
          type: boolean
        xlsx:
          type: boolean
        pptx:
          type: boolean
        eml:
          type: boolean
        msg:
          type: boolean
    ConnectorSettingRow:
      type: object
      properties:
        connector_id:
          type: string
        sync_enabled:
          type: boolean
        capture_types:
          $ref: "#/components/schemas/ConnectorCaptureTypes"
        updated_at:
          type: string
      required:
        - connector_id
        - sync_enabled
        - capture_types
        - updated_at
    ConnectorSettingsListResponse:
      type: object
      properties:
        settings:
          type: array
          items:
            $ref: "#/components/schemas/ConnectorSettingRow"
      required:
        - settings
    ConnectorSettingPatchResponse:
      type: object
      properties:
        connector_id:
          type: string
        sync_enabled:
          type: boolean
        capture_types:
          $ref: "#/components/schemas/ConnectorCaptureTypes"
        updated_at:
          type: string
      required:
        - connector_id
        - sync_enabled
        - capture_types
        - updated_at
    ConnectorSettingPatchPayload:
      type: object
      properties:
        connector_id:
          type: string
          minLength: 1
          maxLength: 120
        sync_enabled:
          type: boolean
        capture_types:
          $ref: "#/components/schemas/ConnectorCaptureTypes"
      required:
        - connector_id
    ImportResponse:
      type: object
      properties:
        imported_memories:
          type: integer
          example: 42
        imported_chunks:
          type: integer
          example: 126
      required:
        - imported_memories
        - imported_chunks
    ImportMode:
      type: string
      enum:
        - upsert
        - skip_existing
        - error_on_conflict
        - replace_ids
        - replace_all
    ImportPayload:
      type: object
      properties:
        artifact_base64:
          type: string
          minLength: 1
          example: eyJ2ZXJzaW9uIjoxLC4uLn0=
        mode:
          $ref: "#/components/schemas/ImportMode"
      required:
        - artifact_base64
    BillingStatusResponse:
      type: object
      properties:
        plan:
          type: string
          description: Legacy internal DB plan label (pro/team) for compatibility. Use effective_plan for display and quotas.
          example: pro
        plan_status:
          type: string
          example: active
        current_period_end:
          type: string
          nullable: true
          example: null
        cancel_at_period_end:
          type: boolean
          example: false
        effective_plan:
          type: string
          description: "Plan code for display: launch|build|deploy|scale|scale_plus."
          example: build
      required:
        - plan
        - plan_status
        - current_period_end
        - cancel_at_period_end
        - effective_plan
    BillingCheckoutPayload:
      type: object
      properties:
        plan:
          type: string
          enum:
            - launch
            - build
            - deploy
            - scale
          example: build
        firstname:
          type: string
        email:
          type: string
        phone:
          type: string
    CreateWorkspacePayload:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          example: My Workspace
      required:
        - name
    CreateApiKeyPayload:
      type: object
      properties:
        workspace_id:
          type: string
          minLength: 1
          example: ws_abc123
        name:
          type: string
          minLength: 1
          example: production
      required:
        - workspace_id
        - name
    RevokeApiKeyPayload:
      type: object
      properties:
        api_key_id:
          type: string
          minLength: 1
          example: key_abc123
      required:
        - api_key_id
    ConversationInsertPayload:
      type: object
      properties:
        userId:
          type: string
        user_id:
          type: string
        transcript:
          type: string
        messages:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
                enum:
                  - user
                  - assistant
                  - system
                  - tool
              content:
                type: string
              at:
                type: string
            required:
              - role
              - content
        namespace:
          type: string
        scope:
          type: string
        metadata:
          type: object
          additionalProperties:
            anyOf:
              - type: string
              - type: number
              - type: boolean
              - nullable: true
              - nullable: true
        memory_type:
          type: string
          enum: *a1
        extract:
          type: boolean
    IngestEnvelope:
      type: object
      properties:
        kind:
          type: string
          enum:
            - memory
            - conversation
            - document
            - bundle
        body:
          type: object
          additionalProperties:
            nullable: true
          description: "Discriminated by kind: memory/conversation/document use MemoryInsertSchema or conversation fields; bundle
            uses ImportPayload fields."
      required:
        - kind
        - body
    MemoryLinkCreatePayload:
      type: object
      properties:
        to_memory_id:
          type: string
          format: uuid
        link_type:
          type: string
          enum:
            - related_to
            - about_ticket
            - same_topic
      required:
        - to_memory_id
        - link_type
    SearchReplayPayload:
      type: object
      properties:
        query_id:
          type: string
          format: uuid
      required:
        - query_id
    ProfilePinsPatchPayload:
      type: object
      properties:
        userId:
          type: string
        user_id:
          type: string
        scope:
          type: string
        namespace:
          type: string
        memory_ids:
          type: array
          items:
            type: string
            format: uuid
          maxItems: 10
      required:
        - memory_ids
    ContextFeedbackPayload:
      type: object
      properties:
        trace_id:
          type: string
          minLength: 1
        query_id:
          type: string
        eval_set_id:
          type: string
        chunk_ids_used:
          type: array
          items:
            type: string
        chunk_ids_unused:
          type: array
          items:
            type: string
      required:
        - trace_id
    ExplainAnswerPayload:
      type: object
      properties:
        question:
          type: string
          minLength: 1
        context:
          type: string
          minLength: 1
      required:
        - question
        - context
    EvalSetCreatePayload:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
      required:
        - name
    EvalItemCreatePayload:
      type: object
      properties:
        eval_set_id:
          type: string
          format: uuid
        query:
          type: string
          minLength: 1
        expected_memory_ids:
          type: array
          items:
            type: string
            format: uuid
          default: []
      required:
        - eval_set_id
        - query
    EvalRunPayload:
      type: object
      properties:
        eval_set_id:
          type: string
          format: uuid
        user_id:
          type: string
        owner_id:
          type: string
        namespace:
          type: string
        top_k:
          type: integer
          minimum: 1
          maximum: 20
        search_mode:
          type: string
          enum:
            - hybrid
            - vector
            - keyword
        min_score:
          type: number
          minimum: 0
          maximum: 1
      required:
        - eval_set_id
  parameters: {}
paths:
  /healthz:
    get:
      summary: Health check
      tags:
        - Health
      responses:
        "200":
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                  version:
                    type: string
                  build_version:
                    type: string
                  stage:
                    type: string
                  git_sha:
                    type: string
                required:
                  - status
                  - version
  /v1/health:
    get:
      summary: Health check (versioned)
      description: Returns service health and version. Same response as /healthz. No auth required. Prefer this for API
        clients that version endpoints.
      tags:
        - Health
      responses:
        "200":
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                  version:
                    type: string
                  build_version:
                    type: string
                  stage:
                    type: string
                  git_sha:
                    type: string
                  embedding_model:
                    type: string
                required:
                  - status
                  - version
  /ready:
    get:
      summary: Readiness check
      description: Checks DB connectivity. Returns 200 when DB is reachable, 503 otherwise. No auth required. Use for load
        balancer or platform health checks.
      tags:
        - Health
      responses:
        "200":
          description: Ready to serve traffic
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - ok
                  db:
                    type: string
                    enum:
                      - connected
                required:
                  - status
                  - db
        "503":
          description: Not ready (e.g. DB unavailable)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - degraded
                  db:
                    type: string
                    enum:
                      - unavailable
                  message:
                    type: string
                required:
                  - status
                  - db
  /v1/memories:
    post:
      summary: Ingest a memory
      tags:
        - Memories
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
            enum:
              - "1"
            description: When set to "1", response may include safety.pii_hints (heuristic email/phone hints only; not a DLP scan).
          required: false
          name: x-safety-pii-scan
          in: header
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MemoryInsertPayload"
      responses:
        "200":
          description: Memory ingested
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryInsertResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: List memories with pagination and filters
      tags:
        - Memories
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
          required: false
          name: user_id
          in: query
        - schema:
            type: string
          required: false
          name: owner_id
          in: query
        - schema:
            type: string
          required: false
          name: entity_id
          in: query
        - schema:
            type: string
            enum:
              - user
              - team
              - app
          required: false
          name: owner_type
          in: query
        - schema:
            type: string
            enum:
              - user
              - team
              - app
          required: false
          name: entity_type
          in: query
        - schema:
            type: string
          required: false
          name: namespace
          in: query
        - schema:
            type: integer
            minimum: 1
          required: false
          name: page
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
          required: false
          name: page_size
          in: query
        - schema:
            type: string
            enum: *a1
          required: false
          name: memory_type
          in: query
        - schema:
            type: string
            description: JSON-encoded metadata filter
          required: false
          name: metadata
          in: query
        - schema:
            type: string
          required: false
          name: start_time
          in: query
        - schema:
            type: string
          required: false
          name: end_time
          in: query
      responses:
        "200":
          description: Paginated list of memories
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/memories/{id}:
    get:
      summary: Fetch a single memory by ID
      tags:
        - Memories
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
      responses:
        "200":
          description: Memory object
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Memory not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete a memory
      tags:
        - Memories
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: id
          in: path
      responses:
        "200":
          description: Memory deleted
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Memory not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/search:
    post:
      summary: Hybrid search (vector + full-text + RRF)
      tags:
        - Retrieval
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchPayload"
      responses:
        "200":
          description: Search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/context:
    post:
      summary: Prompt-ready context with citations
      tags:
        - Retrieval
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchPayload"
      responses:
        "200":
          description: Context text and citations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContextResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/context/explain:
    get:
      summary: Explain retrieval and ranking for a context query
      tags:
        - Retrieval
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
            minLength: 1
          required: false
          name: userId
          in: query
        - schema:
            type: string
            minLength: 1
          required: false
          name: user_id
          in: query
        - schema:
            type: string
            minLength: 1
          required: false
          name: owner_id
          in: query
        - schema:
            type: string
            enum:
              - user
              - team
              - app
          required: false
          name: owner_type
          in: query
        - schema:
            type: string
            minLength: 1
          required: false
          name: entity_id
          in: query
        - schema:
            type: string
            enum:
              - user
              - team
              - app
          required: false
          name: entity_type
          in: query
        - schema:
            type: string
          required: false
          name: scope
          in: query
        - schema:
            type: string
          required: false
          name: namespace
          in: query
        - schema:
            type: string
          required: false
          name: containerTag
          in: query
        - schema:
            type: string
            minLength: 1
          required: true
          name: query
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 20
          required: false
          name: top_k
          in: query
        - schema:
            type: integer
            minimum: 1
          required: false
          name: page
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 50
          required: false
          name: page_size
          in: query
        - schema:
            type: string
            enum:
              - hybrid
              - vector
              - keyword
          required: false
          name: search_mode
          in: query
        - schema:
            type: number
            nullable: true
            minimum: 0
            maximum: 1
          required: false
          name: min_score
          in: query
        - schema:
            type: string
            enum:
              - balanced
              - recall
              - precision
          required: false
          name: retrieval_profile
          in: query
      responses:
        "200":
          description: Retrieval/ranking explanation payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContextExplainResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/usage/today:
    get:
      summary: Usage counters and effective plan caps for today
      tags:
        - Usage
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Current usage
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/audit/log:
    get:
      summary: Tenant-scoped API request audit trail (paginated)
      tags:
        - Usage
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 1
            example: 1
          required: false
          name: page
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 200
            example: 50
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Audit log page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuditLogListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: Upgrade required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/dashboard/overview-stats:
    get:
      summary: "Console overview aggregates for the authenticated workspace. Optional query: range=1d|7d|30d|all (default all)."
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Aggregate counts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardOverviewResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/dashboard/bootstrap:
    post:
      summary: "Pre-session workspace bootstrap: validates Supabase access_token, returns existing workspace or creates one
        via create_workspace; client then establishes cookie via POST /v1/dashboard/session."
      tags:
        - Dashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                workspace_name:
                  type: string
              required:
                - access_token
              additionalProperties: false
      responses:
        "200":
          description: Workspace id and name; created indicates new workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardOpsEnvelope"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/dashboard/workspaces:
    get:
      summary: List workspaces for the signed-in dashboard user (membership-scoped)
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Workspace list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardOpsEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Create a workspace (CSRF required)
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
              required:
                - name
              additionalProperties: false
      responses:
        "200":
          description: Created workspace
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardOpsEnvelope"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid CSRF
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/dashboard/api-keys:
    get:
      summary: List API keys for a workspace (query workspace_id optional; must match session workspace)
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
            example: 00000000-0000-4000-8000-000000000000
          required: false
          name: workspace_id
          in: query
      responses:
        "200":
          description: API keys
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardOpsEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Create API key (CSRF required)
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  format: uuid
                name:
                  type: string
              required:
                - workspace_id
                - name
              additionalProperties: false
      responses:
        "200":
          description: New key material (once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardOpsEnvelope"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid CSRF
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/dashboard/api-keys/revoke:
    post:
      summary: Revoke API key (CSRF required)
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                api_key_id:
                  type: string
                  format: uuid
              required:
                - api_key_id
              additionalProperties: false
      responses:
        "200":
          description: Revocation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardOpsEnvelope"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid CSRF
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/dashboard/members:
    get:
      summary: List workspace members (query workspace_id optional; must match session workspace)
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
            example: 00000000-0000-4000-8000-000000000000
          required: false
          name: workspace_id
          in: query
      responses:
        "200":
          description: Members
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardOpsEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/dashboard/invites:
    get:
      summary: List pending workspace invites (query workspace_id optional; must match session workspace)
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
            example: 00000000-0000-4000-8000-000000000000
          required: false
          name: workspace_id
          in: query
      responses:
        "200":
          description: Invites
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardOpsEnvelope"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Create workspace invite (CSRF required)
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  format: uuid
                email:
                  type: string
                  format: email
                role:
                  type: string
                  enum:
                    - member
                    - admin
                    - owner
              required:
                - workspace_id
                - email
                - role
              additionalProperties: false
      responses:
        "200":
          description: Invite created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardOpsEnvelope"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid CSRF
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/dashboard/invites/revoke:
    post:
      summary: Revoke workspace invite (CSRF required)
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invite_id:
                  type: string
                  format: uuid
              required:
                - invite_id
              additionalProperties: false
      responses:
        "200":
          description: Revocation result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardOpsEnvelope"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid CSRF
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/dashboard/members/role:
    post:
      summary: Update member role (CSRF required)
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  format: uuid
                user_id:
                  type: string
                  format: uuid
                role:
                  type: string
                  enum:
                    - member
                    - admin
                    - owner
              required:
                - workspace_id
                - user_id
                - role
              additionalProperties: false
      responses:
        "200":
          description: Update result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardOpsEnvelope"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid CSRF
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/dashboard/members/remove:
    post:
      summary: Remove workspace member (CSRF required)
      tags:
        - Dashboard
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  format: uuid
                user_id:
                  type: string
                  format: uuid
              required:
                - workspace_id
                - user_id
              additionalProperties: false
      responses:
        "200":
          description: Removal result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardOpsEnvelope"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Invalid CSRF
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/connectors/settings:
    get:
      summary: List connector capture settings for the workspace
      tags:
        - Connectors
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Connector settings rows
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorSettingsListResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      summary: Upsert capture settings for one connector
      tags:
        - Connectors
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectorSettingPatchPayload"
      responses:
        "200":
          description: Updated connector row
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectorSettingPatchResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/import:
    post:
      summary: Import memories from artifact (paid plans)
      tags:
        - Import
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImportPayload"
      responses:
        "200":
          description: Import result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImportResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: Upgrade required for import
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/billing/status:
    get:
      summary: Current billing status and plan
      tags:
        - Billing
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Billing status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BillingStatusResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/billing/checkout:
    post:
      summary: Create PayU checkout session
      tags:
        - Billing
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BillingCheckoutPayload"
      responses:
        "200":
          description: Checkout URL or form fields
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/billing/portal:
    post:
      summary: Legacy billing portal (returns 410 Gone)
      tags:
        - Billing
      security:
        - BearerAuth: []
      responses:
        "410":
          description: Gone – legacy Stripe portal removed
  /v1/billing/webhook:
    post:
      summary: PayU webhook callback
      tags:
        - Billing
      responses:
        "200":
          description: Webhook processed
        "400":
          description: Invalid webhook payload or signature
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/workspaces:
    post:
      summary: Create a workspace (admin only)
      tags:
        - Admin
      security:
        - AdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWorkspacePayload"
      responses:
        "200":
          description: Workspace created
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/api-keys:
    post:
      summary: Create an API key for a workspace (admin only)
      tags:
        - Admin
      security:
        - AdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateApiKeyPayload"
      responses:
        "200":
          description: API key created
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    get:
      summary: List masked API keys for a workspace (admin only)
      tags:
        - Admin
      security:
        - AdminToken: []
      parameters:
        - schema:
            type: string
            example: ws_abc123
          required: true
          name: workspace_id
          in: query
      responses:
        "200":
          description: List of masked API keys
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/api-keys/revoke:
    post:
      summary: Revoke an API key (admin only)
      tags:
        - Admin
      security:
        - AdminToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeApiKeyPayload"
      responses:
        "200":
          description: API key revoked
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/memories/conversation:
    post:
      summary: Ingest transcript or structured messages as a memory
      tags:
        - Memories
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConversationInsertPayload"
      responses:
        "200":
          description: Conversation stored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemoryInsertResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/ingest:
    post:
      summary: Unified ingest dispatcher (memory, conversation, document text, or bundle import)
      tags:
        - Memories
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IngestEnvelope"
      responses:
        "200":
          description: Ingest result (shape varies by kind)
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/memories/{id}/links:
    post:
      summary: Create a typed link between two memories
      tags:
        - Memories
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
          required: true
          name: id
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MemoryLinkCreatePayload"
      responses:
        "200":
          description: Link created
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "402":
          description: Upgrade required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      summary: Delete a typed link from this memory
      tags:
        - Memories
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
          required: true
          name: id
          in: path
        - schema:
            type: string
            format: uuid
          required: true
          name: to_memory_id
          in: query
        - schema:
            type: string
            enum:
              - related_to
              - about_ticket
              - same_topic
          required: true
          name: link_type
          in: query
      responses:
        "200":
          description: Link removed
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/search/history:
    get:
      summary: Recent search queries for the workspace
      tags:
        - Retrieval
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: integer
            minimum: 1
            maximum: 100
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Search history rows
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/search/replay:
    post:
      summary: Replay a stored search by query_id
      tags:
        - Retrieval
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchReplayPayload"
      responses:
        "200":
          description: Replay results
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/profile/pins:
    patch:
      summary: Replace pinned memories (metadata.pinned) for a user/namespace
      tags:
        - Retrieval
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProfilePinsPatchPayload"
      responses:
        "200":
          description: Pins updated
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/context/feedback:
    post:
      summary: Submit retrieval feedback for a trace
      tags:
        - Retrieval
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContextFeedbackPayload"
      responses:
        "200":
          description: Feedback accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted:
                    type: boolean
                required:
                  - accepted
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/pruning/metrics:
    get:
      summary: Workspace pruning / dedupe counters
      tags:
        - Usage
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Metrics
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/explain/answer:
    post:
      summary: Explain an answer from question + retrieved context text
      tags:
        - Retrieval
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExplainAnswerPayload"
      responses:
        "200":
          description: Generated explanation
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/webhooks/memory:
    post:
      summary: Signed memory ingest webhook (not the project API-key path; uses HMAC + optional internal forward token)
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace_id:
                  type: string
                  minLength: 1
              required:
                - workspace_id
              description: Same fields as POST /v1/memories plus workspace_id. Signed with X-MN-Webhook-Signature (see
                docs/external/API_USAGE.md).
      responses:
        "200":
          description: Accepted
        "400":
          description: Invalid signature or body
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/evals/sets:
    get:
      summary: List evaluation sets
      tags:
        - Evals
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Eval sets
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Create an evaluation set
      tags:
        - Evals
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvalSetCreatePayload"
      responses:
        "200":
          description: Created
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/evals/sets/{eval_set_id}:
    delete:
      summary: Delete an evaluation set
      tags:
        - Evals
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
          required: true
          name: eval_set_id
          in: path
      responses:
        "200":
          description: Deleted
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/evals/items:
    get:
      summary: List eval items for a set
      tags:
        - Evals
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
          required: true
          name: eval_set_id
          in: query
      responses:
        "200":
          description: Items
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      summary: Create an eval item (query + expected memory IDs)
      tags:
        - Evals
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvalItemCreatePayload"
      responses:
        "200":
          description: Created
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/evals/items/{eval_item_id}:
    delete:
      summary: Delete an eval item
      tags:
        - Evals
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
            format: uuid
          required: true
          name: eval_item_id
          in: path
      responses:
        "200":
          description: Deleted
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/evals/run:
    post:
      summary: Run precision/recall evaluation for a set
      tags:
        - Evals
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvalRunPayload"
      responses:
        "200":
          description: Eval metrics
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/dashboard/session:
    post:
      summary: Establish dashboard browser session (cookie + CSRF); implemented in workerApp.ts
      tags:
        - Dashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                workspace_id:
                  type: string
              required:
                - access_token
                - workspace_id
      responses:
        "200":
          description: Session established; sets cookies and returns csrf_token when applicable
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/dashboard/logout:
    post:
      summary: Clear dashboard session cookie
      tags:
        - Dashboard
      responses:
        "200":
          description: Logout acknowledged
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                required:
                  - ok
        "403":
          description: Invalid CSRF
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /v1/mcp:
    get:
      summary: "Hosted Streamable MCP (also served as /mcp); Authorization: Bearer API key"
      tags:
        - MCP
      security:
        - BearerAuth: []
      responses:
        "200":
          description: MCP capability response (SSE/streamable HTTP)
        "426":
          description: Upgrade required for WebSocket legacy clients
    post:
      summary: Hosted MCP POST (JSON-RPC / streamable)
      tags:
        - MCP
      security:
        - BearerAuth: []
      responses:
        "200":
          description: MCP response
    delete:
      summary: Terminate MCP session when applicable
      tags:
        - MCP
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Session cleared
